/*
  For drawing a grey marker along the left side of the paragraphs
  on the Programmes page
*/
.left-line-with-markers {
  list-style: none;
}
.left-line-with-markers >li {
  position: relative;
}
.left-line-with-markers>li:before {
  content: '\25CF';
  margin-right: 10px;
  font-size: 2rem;
  color: #828282 ;
}
.left-line-with-markers>li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px solid #828282;
  margin-left: 5px;
  height: 100%;
}
.left-line-with-markers >li:first-of-type:after {
  top: 50%;
}
.left-line-with-markers >li:last-of-type:after {
  top: -50%;
}

/*
  For replacing default bullet list symbols with a star symbol
  represented by unicode character `U+2605`
*/
.star-bullets {
  list-style: none;
}

.star-bullets >li::before {
  content: '\2605';
  margin-right: 10px;
  font-size: 1rem;
  color:#333333;
}

/*
  Custom styles for the sign in and registration forms

*/

.form-signin_up {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin_up .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin_up .form-control:focus {
  z-index: 2;
}
.form-signin_up input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin_up input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
